/events/target
/KT1_RUST/target
/KT3_events2/target
/KT4_Birthday/target
/today/target
/KT6-event_provider/target
/KT7-ConfigFile/target
/KT8-SQLite-events/target
/KT9-eventFiltering/target
/KT10-commandlineparams/target